{% extends 'base.html' %} {% load static %} {% block content %}
<!-- <h1 class="text-center">Home</h1> -->
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="200">
      <img
        src="{% static 'images/home-1.jpg' %}"
        class="d-block w-100 home-img"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="200">
      <img
        src="{% static 'images/home-2.jpg' %}"
        class="d-block w-100 home-img"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-interval="200">
      <img
        src="{% static 'images/home-3.jpg' %}"
        class="d-block w-100 home-img"
        alt="..."
      />
    </div>
  </div>
</div>

<div id="main-overlay">
  <h1 class="text-center display-1 mb-4">The Perfect Plan</h1>
  <div id="main-overlay-buttons" class="row justify-content-center">
    <div class="col-sm-12 text-center">
      <a
        href="{% url 'register' %}"
        class="btn btn-warning mr-3 ml-3"
        style="width: 180px"
        >Join Now</a
      >
      <a
        href="{% url 'login' %}"
        class="btn btn-dark mr-3 ml-3"
        style="width: 180px"
        >I Have An Account</a
      >
    </div>
  </div>
</div>

<!-- Bespoke Scripts -->
<script src="{% static 'js/pages.js' %}"></script>
{% endblock %}
