{% block content %}
<!-- Add Study Profile Modal -->
<div id="add-profile-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">Create Activity</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">
                  
                    <form 
                    action="add"
                    method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input
                            type="text"
                            class="form-control"
                            name="name"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->


                        <!-- Study Type -->
                        <div class="form-group">
                            <label for="atype">Type</label>
                            <div class="form-group">
                                <select name = "atype" class="form-control">
                                    {% for type in types %}
                                        <option
                                            value="{{ type.1 }}"
                                            name="{{ type.1 }}"
                                            required
                                            {% if forloop.first %}
                                            selected
                                            {% endif %}
                                        >{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>




                         {% csrf_token %}
                        <div class="form-group">
                            <label for="contribution">Contribution</label>
                            <input
                            type="number"
                            min = "0"
                            class="form-control"
                            name="contribution"
                            placeholder = "number"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->



                         {% csrf_token %}
                        <div class="form-group">
                            <label for="time_taken">Time taken (hours)</label>
                            <input
                            type="number"
                            class="form-control"
                            name="time_taken"
                            placeholder = "hours"
                            min = "0"
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->

                        <br>
                        <br>
                        <!-- States whether study types match -->
                        {% if not validateType %}
                        <p class="text-danger small" style="margin-top: -10px">
                            Ensure study types match
                        </p>
                        {% endif %}





                        <h4>Associated Tasks</h4>
                            <!-- Associated Tasks -->

                        {% for task in tasks %}

                            <input type="checkbox" value="{{task.id}}" name="task">
                           {{task.title}} {{task.study_type}}
                            <br>
                        {% endfor %}
                        <br>


                        <button type="submit" class="btn btn-block btn-warning">
                            Create Activity
                        </button>


                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->
{% endblock %}