{% block content %}
<!-- Add Study Profile Modal -->
<div id="add-profile-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">New Study Profile</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">
                  
                    <form 
                    action="{% url 'dashboard' user.id %}" 
                    method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input
                            type="text"
                            class="form-control"
                            name="title"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->

                        <div class="form-group">
                            <label for="semesterfile">
                                Semester File
                            </label>
                            <span class="right" style="color: #777">
                                (Optional)
                            </span>
                            <input
                            type="file"
                            class="form-control"
                            name="semesterfile"
                            />
                        </div>

                        <!-- Validation semester file -->
                        {% if errors.semesterfile %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.semesterfile }}
                        </p>
                        {% endif%}
                        <!-- End Validation semesster file -->

                        <div class="form-group">
                            <label for="modules">
                                Modules
                            </label>
                            <span class="right" style="color: #777">
                                (Separate module titles with a comma and space)
                            </span>
                            <textarea
                            style="resize: none;"
                            name="modules" 
                            rows="3" 
                            class="form-control mb-3" 
                            required
                            ></textarea>
                        </div>
                        
                        <!-- Validation modules -->
                        {% if errors.modules %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.modules }}
                        </p>
                        {% endif%}
                        <!-- End Validation modules -->

                        <button type="submit" class="btn btn-block btn-warning">
                            Create Study Profile
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->
{% endblock %}