{% block content %}
<!-- Modal for adding assignments -->
{% include 'profiles/addAssignmentModal.html' %}
{% include 'profiles/doActivityModal.html' %}


<section class="extra-info-area">
    <div class="container">
        <!-- Information toggler -->
        <ul class="nav nav-pills info-toggler justify-content-center">
            <li class="active">
                <a data-toggle="pill" href="#info-{{profile.id}}-summary">
                    Breakdown
                </a>
            </li>

            <li>
                <a data-toggle="pill" href="#info-{{profile.id}}-deadlines">
                    Deadlines
                </a>
            </li>

            <li>
                <a data-toggle="pill" href="#info-{{profile.id}}-activity">
                    Activity
                </a>
            </li>
        </ul>
        <!-- End of information toggler -->

        <div class="mt-4"/>

        <div class="tab-content info-tab">
            <div
             id="info-{{profile.id}}-summary" 
             class="tab-pane fade in active show text-center"
             >
                <canvas class="piechart" id="canvas-{{profile.id}}">
                </canvas>
            </div>
            <div id="info-{{profile.id}}-deadlines" class="tab-pane fade">
                <!-- Display various deadlines -->
                {% include 'profiles/deadlines.html' %}
            </div>

            <!-- Activities tab -->
            <div id="info-{{profile.id}}-activity" class="tab-pane fade">

                <!-- Title -->
                <span class="float-left">
                    <h3>Activities</h3>
                </span>
                <br>
                <a                    id="do-activity"  data-toggle="modal"
                     data-target="#do-activity-modal"> hi </a>
                <br>
                <br>


                <table>
                    <tr>
                        <th>Name</th>
                        <th>Time Taken</th>
                        <th>Contribution</th>
                    </tr>
                    {% for activity in activities %}
                            <tr>
                                <td> <center> {{activity.time_complete}}</center></td>

                                <td> <center>{{activity.name}}</center></td>

                                <td> <center>{{activity.time_taken}}</center></td>
                                <td> <center>{{activity.contribution}}</center></td>
                            </tr>

                    {% endfor %}
            </table>
            </div>
        </div>

        <!-- Draw the pie chart -->
        {% block javascript %}
        <script>
            data = [];
        </script>

        {% for mod in modules %}
          {% if mod.profile == profile %}
              <script>
                  // Get the module information
                  data.push({
                    timespent: parseInt("{{mod.time_spent}}"), 
                    colour: "{{mod.colour}}",
                  });
              </script>
          {% endif %}
        {% endfor %}

        <script>
            // Get the canvas
            canvas = document.getElementById("canvas-{{profile.id}}")

            pieChart = new PieChart({canvas, data, holesize:0.6});
            pieChart.draw();
            
        </script>
        {% endblock %}
        <!-- End of pie chart drawing -->
    </div>
</section>
{% endblock %}