{% block content %}



<!-- View Milestone Modal -->
<div id="view-milestone-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{milestone.name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">


                    <h2> Deadline </h2>
                    <!-- Deadline -->
                    {{ milestone.deadline }}
                    <br>
                    <br>
                    <h2> Tasks to Complete </h2>
                    <!-- List of tasks-->
                    {% for task in tasks %}
                        {{ task.title }} {{ task.end_date }} {{ task.amount_complete }} / {{task.target}}
                         <br>
                    {% endfor %}

                    <h2> Related Activities </h2>
                    <!-- Activities relating to tasks -->
                    {% for act in activities %}
                      <button
                      id="{{act.name}}"
                      title="{{act.name}}"
                      data-toggle="modal"
                      data-target="#do-activity-modal"
                      >
                        {{ act.name }}
                        <br>
                    {% endfor %}





                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->
{% endblock %}