/* General */
body {
  color: white;
  background: #3a3a3a;
  height: 100%;
}

html {
  height: 100%;
}

/* Navbar */
#main-nav {
  z-index: 100;
}

.nav-icon {
  font-size: 28px;
}

.nav-icon-info {
  font-size: 25px;
}

/* Home Page */
img.home-img,
img.bg-img {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-overlay {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 0, 0, 0.9); */
  z-index: 50;
}

#main-overlay h1 {
  text-shadow: 4px 3px 7px #3a3a3a;
  margin-top: 300px;
}

div#main-overlay-buttons {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

/* --------------------------Logout/Register ---------------------------------*/
.bg-image {
  background-image: url("../images/logout-in.jpg");
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.card.logout-in-card {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  margin-top: -500px;
  animation-timing-function: ease-out;
}

div.card.logout-in-card > .card-body {
  color: black;
}

/* --------------------------Dashboard-------------------------------------- */
.dash-bg {
  background-image: url("../images/generic-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
  z-index: -100;
}

.dash-bg section#sidebar-content {
  position: fixed;
  width: 350px;
  background: rgba(50, 50, 50, 0.4);
  height: 100%;
}

#add-profile {
  background: none;
  color: white;
  font-size: 24px;
  border: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#add-profile:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.extra-info {
  margin-top: 175px;
}

div.profile-bg {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.profile-content {
  z-index: 100;
  position: absolute;
}

section.module-list {
  margin-top: 175px;
  /* background: red; */
  width: 350px;
  height: 200px;
  z-index: 100;
  overflow: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  pointer-events: all;
}

.module-actions {
  opacity: 0;
  filter: (opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

section.extra-info-area {
  margin-top: 30px;
  /* background: red; */
  width: 350px;
  height: 350px;
  z-index: 100;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
}

.info-toggler {
  pointer-events: all;
}

.info-toggler a {
  color: white;
  text-decoration: none;
}

.info-toggler li {
  width: 33%;
  text-align: center;
  background: rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.info-toggler li:hover,
.info-toggler li.active {
  background: rgba(50, 50, 50, 0.7);
}

.info-tab {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  opacity: 1;
}

section.calendar-area {
  position: fixed;
  width: calc(100% - 350px);
  width: -moz-calc(100% - 350px); /* Firefox */
  width: -webkit-calc(100% - 350px); /* WebKit */
  width: -o-calc(100% - 350px); /* Opera */
  height: 100%;
  top: 0px;
  left: 350px;
  z-index: 100;
}

.panel-group a {
  color: white;
}

.panel-group {
  z-index: 200;
}

.panel-title {
  margin-bottom: 0px;
}

.panel-heading {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.panel-heading:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.panel-heading:hover .module-actions {
  opacity: 1;
  filter: (opacity=1);
}

/* .panel-body a.d-block {
  /* margin-left: 24px; 
} */

#add-profile-modal,
#add-assignment-modal {
  color: black;
}

/* .modal-content {
  background: black;
} */

.task-cal {
  margin: 0 auto;
  width: 95%;
  height: 75vh;
  pointer-events: all;
  border-radius: 10px;
  background: rgba(30, 30, 30, 0.4);
}

.cal-control {
  pointer-events: all;
}

.task-cal tbody {
  border-radius: 10px;
  background: rgba(180, 180, 180, 0.1);
  vertical-align: top;
}

.task-cal tbody tr td {
  height: 20%;
  width: 14.3%;
  margin-top: -100px;
  border: 1px solid rgba(100, 100, 100, 0.5);
  max-width: 150px;
}

.task-cal tbody tr td p {
  margin-right: 5px;
  margin-bottom: 0;
}

.cal-head {
  text-shadow: 2px 2px #333333;
  pointer-events: all;
}

.cal-head a {
  color: inherit;
  text-decoration: none;
}

.cal-head span {
  margin: 0 10px 0 10px;
}

.task-bar {
  padding: auto;
  margin-bottom: 1px;
  width: 102%;
  /* text-shadow: 2px 2px #333333; */
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555,
    1px 1px 0 #555;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
  text-overflow: ellipsis;
  pointer-events: all;
}

.task-info {
  z-index: 300;
  position: absolute;
  width: 150px;
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  color: black;
  font-size: 60%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.task-bar:hover + .task-info {
  /* display: block; */
  opacity: 1;
  filter: alpha(opacity=100);
}

canvas.piechart {
  padding-bottom: -50px;
}

/* Deadline area */
.deadline-bar {
  background: rgba(50, 50, 50, 0.3);
  border-radius: 10px;
  display: block;
  padding: 10px;
  -webkit-transtition: background 0.3s;
  transition: background 0.3s;
}

.deadline-body {
  max-height: 120px;
  overflow: hidden;
  overflow-y: scroll;
}

.deadline-bar:hover {
  text-decoration: none;
  background: rgba(50, 50, 50, 0.6);
}
